
@use "./mixins.scss" as *;
@use "./_variables.scss" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #000;
  background: #fff;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 45px 30px 0 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  backdrop-filter: blur(2px);
}

.container.blurred {
  position: relative;
  z-index: 1;
}


