.skeleton {
  .img,
  .title,
  .desc,
  .btn {
    background: linear-gradient(90deg, #f0f0f0 25%, #e5e5e5 37%, #f0f0f0 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 50%;
    
  }

  .img {
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
  }

  .title {
    width: 150px;
    height: 20px;
    margin: 10px auto;
  }

  .desc {
    width: 180px;
    height: 15px;
    margin: 5px auto 15px;
  }

  .btn {
    width: 120px;
    height: 35px;
    margin: 0 auto;
  }
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
