@use '../../styles/mixins.scss' as *;
@use "../../styles/_variables.scss" as *;

.header {
    @include flex();
    margin-top: 40px;
}

.header_left-block {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 40px;
        height: 40px;
    }
}
.header_text {
    display: flex;
    flex-direction: column;

     h1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.5rem;
     }
      span {
        font-size: 1rem;
        color: #7B7B7B;
      }
}

.header_right-block {
    display: flex;
}
.header_menu {
  width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 66px;

}



.input_wrapper {
  position: relative;
  display: inline-block;

  #header_input {
    background: #f9f9f9;
    width: 680px;
    border: none;
    padding: 14px 40px 14px 40px; 
    border-radius: 15px;
    color: #c0c0c0;
    font-size: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 45%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url("../../../public/assets/icons/search.png") no-repeat center;
    background-size: contain;
  }
}

.header_account {
    cursor: pointer;
    text-decoration:  none;
    font-weight: 600;
    border: 2px solid #FE5F00;
    border-radius: 15px;
    color: $orange;
    padding: 14px 20px;
    transition: all 0.3s ease;
     
    &:hover {
      background-color: rgba(254, 93, 0, 0.053);
    transform: translateY(-1px);
    }
}

.header_cart {
    border: 2px solid #FE5F00;
    border-radius: 15px;
    padding: 15px 18px 10px 18px;
}

.profile {
  display: none;
}
.profile_show {
  display: block;
  position: absolute;   
  top: 110px;
  right: 145px;             
  width: 130px;
  border-radius: 12px;
  background: white;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 8px 20px rgba(0, 0, 0, 0.08);
  z-index: 100;
}
.buttons_profile {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
    border-radius: 12px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.05),
    0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
  button {

    background: none;
    border: none;

    &:hover {
      color: #FE5F00;
      transition: all 0.3s ease;
    }
  }
}